@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}
body{
 margin: 0;
 padding: 100px;
 font-family: 'Poppins', sans-serif;
}
h1{
 font-size: 50px;
 font-family:Audiowide;
}
p{
 font-size: 18px;
 line-height: 35px;
}
.navbar{
 position: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
 background-color: #14bbb9;
 width: 100%;
 height: 75px;
 z-index: 1;
 margin-bottom: 45%;
}
.nav{
 display: flex;
 justify-content: right;
 list-style: none;
 margin-right: 3%;
}
a{
    margin: 15px;
font-size: 17px;
margin-left:12px;
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
}
a:hover{
 color: #3114bb;
}
.logo {
 flex: 1 1 auto;
 margin-left: 10%;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: bold;
 font-size: 35px;
}
img{
 width: 20%;
}
.banner-area{
 position: relative;
 background-image: url(bgp.jpg);
 width: 100%;
 height: 150vh;
 background-repeat: no-repeat;
 background-size: cover;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(190, 236, 222, 1) 23.8%,
    rgba(190, 227, 236, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.my-playlist h1{
 color: #148abb;
 text-decoration: underline;
 font-style:italic;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}



footer{
 position:absolute;
 left:0;
 right:0;
 background: #2291c0;
 height: 280px;
 width:auto;
 color:#fff;
}
.footer-content{
 display: flex;
 align-item: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
.footer-content{
 font-size: 1.8rem;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 3rem;
}
.footer-content p{
 max-width:500px;
 margin: 1px auto;
 line-height: 28px;
 font-size: 14px;
}
.social-menu{
 text-align:left;
}
.social-menu h1 {
 text-align: center;
 text-height: 30px;
}
.social-menu ul {
 position: absolute;
 top: 75%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 0;
 margin: 0;
 display: flex;
}
.social-menu ul li {
 list-style: none;
 margin: 0 10px;
}
.social-menu ul li .fa {
 color: #000000;
 font-size: 25px;
 line-height: 50px;
 transition: .5s;
}
.social-menu ul li .fa:hover {
 color: #ffffff;
}
.social-menu ul li a {
 position: relative;
 display: block;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color: white;
 text-align: center;
 transition: 0.5s;
 transform: translate(0,0px);
 box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
 transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
 background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
 background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
 background-color: #e4405f;
}

.footer-bottom{
 background: #0a6d97;
 width:100%;
margin-top:45px;
 height: 35px;
 padding: 20px -3;
 font-family: "Open-sans";
 text-align: center;
}
.footer-bottom p{
 text-align:center;
 font-size: 14px;
 word-spacing: 2px;
 text-transform: capitalize;
}
.footer-bottom span{
 text-transform: uppercase;
 opacity: .4;
 font-weight: 200;
}