
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    scroll-behavior: smooth;
}
body{
 margin: 0;
 padding: 0;
 font-family: 'Poppins', sans-serif;
}
h1{
 font-size: 50px;
 font-family:Audiowide;
}
p{
 font-size: 18px;
 line-height: 35px;
}
.navbar{
 position: fixed;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
 background-color: #14bbb9;
 width: 100%;
 height: 70px;
 z-index: 1;
}
.nav{
 display: flex;
 justify-content: right;
 list-style: none;
 margin-right: 3%;
}
a{
    margin: 15px;
margin-left:12px;
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
}
a:hover{
 color: #3114bb;
}
.logo {
 flex: 1 1 auto;
 margin-left: 10%;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: bold;
 font-size: 35px;
}
img{
 width: 20%;
}
.banner-area{
 position: relative;
 background-image: url(images/background.jpg);
 width: 100%;
 height: 100vh;
 background-repeat: no-repeat;
 background-size: cover;
}

.homepage{
padding:1px;
background-size:cover;
text-align:center;
}

.homepage h2{
padding-top:13%;
font-size:60px;
text-decoration:bold;
text-align: center;
}
.btn-1{
width:300px;
height: 100px;
border:none;
border-radius:7px;
background-color: #14BBA0;
box-shasow: inset 0 0 0 0 #1474BB;
transition: ease-out 0.3s;
font-size:25px;
outline:none;
color:#fff;
}

.btn-1:hover{
box-shasow: inset 300 0 0 0 #1474BB;
cursor:pointer;
}


.my-education ,.interest-hobby ,.my-gallery, .my-playlist, .titlepage{
 position: relative;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 width: 100%;
 height: 1000px;
}

.text-part{
 width: 65%;
 height: 80%;
} 
 
.about-me a{
color: #148abb;
}
.about-me{
  position: relative;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 width: 100%;
 height: 1500px
}
.about-me a:hover{
color: #0B79BA;
}
   
.about-area{
 background-color: #fefefe;
 colour: #f1007c;
}
.interest-hobby h1{
 color: #148abb;
}
.interest-hobby{
 height:1550px;
 margin-top:-100px;
}

.my-family{
  position: relative;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 width: 100%;
 height: 1600px
}

.my-family h1{
 margin-top:-80px;
}

.my-education{
 position: relative;
 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 flex-direction: row;
 width: 100%;
 height: 2100px;
}
.my-education h1{
 margin-top:-70px;
}
.my-gallery{
 background-color: #c71585;
 color: #fff;
}

.about-me h1{
 color: #148abb;
 text-decoration: underline;
 font-style: italic;
}
.about-me .text-part{ 
 font-family: Open Sans, sans-serif; 
 margin: 2rem; 
}
.about-me .text-part p { 
 line-height: 1.8; 
}
.about-me .text-part .curve { 
 width: 33%; height: auto;
 min-width: 150px;
 float: left;
 margin-right:2rem; 
 border-radius: 50%;
 -webkit-shape-outside:circle();
 shape-outside:circle();
}
.interest-hobby h1{
 font-style:italic;
}
.my-education h1{
 color: #148abb;
 text-decoration: underline; overlined;
 font-style:italic;
}
.my-gallery h1{
 font-style:italic;
}
.my-family h1{
 color: #148abb;
 text-decoration: underline;
 font-style:italic;
}
.favourite-videos h1{
 color: #148abb;
 text-decoration: underline;
 font-style:italic;
}


.timeline{
 position: relative;
 margin: 50px auto;
 padding: 40px 0;
 width:1000px;
 box-sizing: border-box;
}
.timeline:before{
 content:'';
 position: absolute;
 left: 50%;
 width: 2px;
 height: 100%;
 background: #c5c5c5;
}
.timeline ul{
 margin: 0;
 padding: 0;
}
.timeline ul li{
 list-style: none;
 line-height: normal;
 position: relative;
 width: 50%;
 padding: 20px 40px;
 box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
 float: left;
 text-align: right;
 clear: both;
}
.timeline ul li:nth-child(even){
 float: right;
 text-align: left;
 clear: both;
}
.content{
 padding-bottom: 20px;
}
.timeline ul li:nth-child(odd):before{
 content:'';
 position: absolute;
 top: 24px;
 right: -6px;
 width: 10px;
 height: 10px;
 background: #148abb;
 border-radius: 50%;
 box-shadow: 0 0 0 3px rgba(160,205,210,0.2);
}
.timeline ul li:nth-child(even):before{
 content:'';
 position: absolute;
 top: 24px;
 left: -6px;
 width: 10px;
 height: 10px;
 background: #148abb;
 border-radius: 50%;
 box-shadow: 0 0 0 rgba(160,205,210,0.2);
}
.timeline ul li h3{
 margin: 0;
 padding: 0;
 font-weight: 600;
 color: #148abb;
}
.timeline ul li p{
 margin: 10px 0 0;
 padding: 0;
}
.timeline ul li .time h4{
 margin: 0;
 padding: 0;
 font-size: 14px;
}
.timeline ul li:nth-child(odd) .time{
 position: absolute;
 top: 12px;
 right: -165px;
 margin: 0;
 padding: 8px 16px;
 background: #148abb;
 color: #fff;
 border-radius: 18px;
 box-shadow: 0 0 0 3px rgba(160,205,210,0.3);
}
.timeline ul li:nth-child(even) .time{
 position: absolute;
 top: 12px;
 left: -165px;
 margin: 0;
 padding: 8px 16px;
 background: #148abb;
 color: #fff;
 border-radius: 18px;
 box-shadow: 0 0 0 3px rgba(160,205,210,0.3);
}

.carousel {
padding:10%;
  overflow: hidden;
  max-width: 600px;
  position: relative;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 20px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}






.my-family{
padding-top:70px;
}
.my-family h1{
 margin-right:50%;
}
.my-family p{
 text-align:left;
}
.container {
 margin:30px 0;
 margin-left:50px;
 max-width: 960px;
 border-image:30% round;
}
.columns {
 -webkit-column-count: 3;
 -moz-column-count: 3;
 column-count: 3;
 -webkit-column-gap: 20px;
 -moz-column-gap: 20px;
 column-gap: 20px;
 -webkit-column-width: 33.33333333333333%;
 -moz-column-width: 33.33333333333333%;
 column-width: 33.33333333333333%;
}
img {
 width: 100%;
 height: auto;
 margin-bottom: 15px;
}
@media only screen and (min-width: 480px) and (max-width: 727px) {
 .columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
}
}
@media only screen and (max-width: 479px) {
 .columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
   column-width: 100%;
}


table .my-family{
  width: 100%;
  margin: 20px auto;
 align-items: center
padding:10px
}

.my family img{
border-radius: 15px;
}
 .my-family  .mytable {
      border-collapse: collapse;
      width: 100%;
      background-color: white;
    }
 .my-family    .mytable-head {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
 .my-family    .mytable-head td {
    border:0;
    }
 .my-family    .mytable-body {
      border: 0;
      border-top: 0;
      margin-top: 20px;
    }
 .my-family    .mytable-body td {
      border: 0;
      border-top: 0;
padding: 20px
    }




* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.music-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  border: 0;
  color: #dfdbdf;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}


footer{
 position:absolute;
 left:0;
 right:0;
 background: #2291c0;
 height: 280px;
 width:auto;
 color:#fff;
}
.footer-content{
 display: flex;
 align-item: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
.footer-content{
 font-size: 1.8rem;
 font-weight: 400;
 text-transform: capitalize;
 line-height: 3rem;
}
.footer-content p{
 max-width:500px;
 margin: 1px auto;
 line-height: 28px;
 font-size: 14px;
}
.social-menu{
 text-align:left;
}
.social-menu h1 {
 text-align: center;
 text-height: 30px;
}
.social-menu ul {
 position: absolute;
 top: 75%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 0;
 margin: 0;
 display: flex;
}
.social-menu ul li {
 list-style: none;
 margin: 0 10px;
}
.social-menu ul li .fa {
 color: #000000;
 font-size: 25px;
 line-height: 50px;
 transition: .5s;
}
.social-menu ul li .fa:hover {
 color: #ffffff;
}
.social-menu ul li a {
 position: relative;
 display: block;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color: white;
 text-align: center;
 transition: 0.5s;
 transform: translate(0,0px);
 box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
 transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
 background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
 background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
 background-color: #e4405f;
}

.footer-bottom{
 background: #0a6d97;
 width:100%;
margin-top:45px;
 height: 35px;
 padding: 20px -3;
 font-family: "Open-sans";
 text-align: center;
}
.footer-bottom p{
 text-align:center;
 font-size: 14px;
 word-spacing: 2px;
 text-transform: capitalize;
}
.footer-bottom span{
 text-transform: uppercase;
 opacity: .4;
 font-weight: 200;
}

